@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@200&family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
}

#game-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: 20px;
/*     border: 2px solid whitesmoke;
    border-radius: 10px; */
}
.card{
    margin: 1px;
    padding: 1px;
    color: whitesmoke;
    border: 1px whitesmoke solid;
    border-radius: 25px;
    margin: 0px;
    width: 100%;
    height: 200px;
}
header{
    height: 80px;
    border-bottom: 1px whitesmoke solid;
    display: flex; 
    justify-content: space-between;
    position: relative;
}
header #logo{
    height: 80%;
    margin: 10px;
}
header p{
    color: whitesmoke;
    bottom: 5px;
    border: 0px whitesmoke solid;
    font-size: 50%;
    margin: 0;
    position: absolute;
}
.flex-item-container{
    height: 100%;
    width: fit-content;
    position: relative;
    color: whitesmoke;
    bottom: 0px;
    display: flex;
}
.div-text{
    width: fit-content;
    bottom: 0px;
    color: white;
    font-size: 30px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
}